<div *ngIf="appService.messageSuccess" class="alert alert-success custom" role="alert">
  Item removed from Cart Successfully!
</div>

<div *ngIf="!viewFlag && !billingFlag">
  <cart-angular-product-list
    class="cart-main"
    [pageInput]="cartInput"
    (openBillPage)="openBillPage($event)"
    [productList]="products"
    (viewEvent)="viewProduct($event)"
  >
  </cart-angular-product-list>
</div>

<div *ngIf="viewFlag && !billingFlag">
  <cart-angular-product-detail
    class="product-detail"
    [productDetail]="productDetail"
    [pageInput]="cartInput"
    (addorRemove)="removeProduct()"
    (openBillPage)="openBillPage($event)"
    (closeProduct)="closeProduct()"
  ></cart-angular-product-detail>
</div>

<div *ngIf="!viewFlag && billingFlag">
  <cart-angular-billing-page class="billingPage" [productDetail]="productDetail" (closeProduct)="closeProduct()">
  </cart-angular-billing-page>
</div>
