<div *ngIf="!viewFlag && !billingFlag">

  <div class="search-bar">
    <div class="search">
    <form [formGroup]="searchForm" (submit)="searchHandle()">
      <input type="text" class="searchTerm" formControlName="searchQuery" placeholder="Search">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </form>
    
    </div>
 </div>

 <div *ngIf="errors" class="alert alert-danger custom">
  Error: {{errors.error.error.message}}
</div>

 <div *ngIf="appService.messageSuccess" class="alert alert-success custom" role="alert">
  Item added to Cart Successfully!
</div>
 
<div style="margin-top: 30px;">
  <app-product-list [productList]="products" (viewEvent)="viewProduct($event)">   
  </app-product-list>
</div>
</div>

<div *ngIf="viewFlag && !billingFlag">
      <app-product-detail [productDetail]="productDetail" [pageInput]="'search'" (addorRemove)="addsuccess()"
      (openBillPage)="openBillPage($event)" (closeProduct)="closeProduct()"></app-product-detail>
</div>

<div *ngIf="!viewFlag && billingFlag">
  <app-billing-page [productDetail]="productDetail" (closeProduct)="closeProduct()"></app-billing-page>
</div>
