<div
  *ngFor="let product of productList"
  style="display: inline-block; padding: 20px; margin-top: 30px;"
>
<div class="card">
    <mat-card class="details">
      <mat-card-header class="header">
        <mat-card-title style="font-size: 70%;">
          <a href="javascript:" (click)="viewProduct(product)">{{ product?.volumeInfo?.title }}</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
            <label>Rating:</label> <app-star-rating style="display: inline-block;"
            [rating]="product?.volumeInfo?.averageRating"></app-star-rating>
            <p>{{product?.searchInfo?.textSnippet}}</p>
            <label>Publisher:</label> {{ product?.volumeInfo?.publisher}}<br>
            <label>Written By:</label> 
            <span class="comma" *ngFor="let author of product?.volumeInfo?.authors"> {{ author }}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
