.search-bar .searchTerm {
  border: 3px solid #00b4cc;
  font-size: initial;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  margin-left: 300px;
}
.search-bar .searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: initial;
}

.custom {
  text-align: center;
  font-size: initial;
  margin-top: 10px;
}
