.details {
    background-color: ghostwhite;
    max-width: 100%;
    height: 350px;
    overflow-wrap: break-word;
    overflow:auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .content {
    font-size: initial;
  }

  .header {
    height: 110px;
  }

  .comma:not(:last-of-type):after {
    content: ",";
  }