.details {
    background-color: ghostwhite;
    height: 400px;
    max-width: 100%;
    overflow-wrap: break-word;
    overflow:auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    margin-top: 20px;
    margin-right: 50px;
}

.close-button {
    display: inline-flex;
    margin-left: auto;
  }

  .content {
    font-size: initial;
  }

  label {
    display: block;
    font-weight: bold;
    margin-top: 5px;
  }

  .comma:not(:last-of-type):after {
    content: ",";
  }